<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>
    <div class="form-control">
        <label>Employer Information</label>
        <div>
            <select>
                @*@foreach (Employer item in ViewBag.employers)
                    {
                        <option>@item.Name</option>
                    }*@
            </select>
        </div>


        <span></span>

    </div>
    <div>
        <button asp-controller="Employer" asp-action="Add">Add Employer</button>
    </div>

    <input type="submit" value="Add Job" />
</form>

